header{
  nav{
    width: 100%;
    ul{
      width: 80%;
      margin: 0 auto;
      li{
        display: inline-block;
        &:nth-child(3){
          display: none;
        }
        &:nth-child(n+4){
          float: right;
          margin-right: 15px;
        }
      }
    }
  }
}

.clear{
  clear: both;
}

.content{
  #home{
    text-align: center;
  }
}

#personalized_input{
  display: none;
}