{% extends('skeleton.html') %}
{% from "_formhelpers.html" import render_field %}


{% block content %}


    <div class="panel">
        <div id="home">
            <h1>Connexion</h1>
            {% if error %}

                <div data-alert class="alert-box alert">
                    {{ error }}
                    <a href="#" class="close">&times;</a>
                </div>


            {% endif %}
            <form action="" method="post">

                {{ render_field(form.username) }}
                {{ render_field(form.password) }}
                <br>
                {{ register_form.hidden_tag()  }}

                <input class="button" type="submit">

            </form>
        </div>

    </div>



{% endblock %}