{%  set app_name = getAppName()  %}

<!doctype html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>{{ app_name }}</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('views.static', filename='css/style.css') }}" />
    <link rel="stylesheet/less" type="text/css" href="{{ url_for('views.static', filename='css/style.less') }}" />
    <script src="{{ url_for('views.static', filename='js/less.min.js') }}"></script>
    <script src="{{ url_for('views.static', filename='js/jquery-2.1.1.min.js') }}"></script>
</head>
<body>

<div class="wrapper">

    <header>
        <nav>
            <a href='{{ url_for('views.index') }}' class="title">{{ app_name }}</a>
            <ul>
                {% if (current_user.is_authenticated() and current_user.can_create()) or getConfig()['ALLOW_CREATE_ALL'] == True %}
                    <li><a href="{{ url_for('views.create') }}">Creer question</a></li>
                {% endif %}
                <li><a href="{{ url_for('views.questions') }}">Questions</a></li>
                {% if  current_user.is_authenticated() %}
                    <li class="nav-right"><a href="{{ url_for('user.logout') }}">Déconnexion</a></li>
                    <li class="nav-right"><a href="">{{ current_user.username }}</a></li>

                    {% if current_user.admin %}
                        <li class="nav-right"><a href="{{ url_for('admin.index') }}">Admin</a></li>
                    {% endif %}

                {% else %}
                    <li class="nav-right" ><a href="{{ url_for('user.login') }}">Connexion</a></li>
                    {% if getConfig()['ALLOW_REGISTER'] == True %}
                        <li class="nav-right" ><a href="{{ url_for('user.register') }}">Inscription</a></li>
                    {% endif %}
                {% endif %}
            </ul>
            <div class="clear"></div>
        </nav>
    </header>

    <div class="content">
        {% with errors = get_flashed_messages(category_filter=["error"]) %}
            {% if errors  %}
                {% for  message in errors  %}
                    <div data-alert class="alert-box alert">
                        {{ message |safe}}
                        <a href="#" class="close">&times;</a>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% with messages = get_flashed_messages(category_filter=[""]) %}
            {% if messages %}
                {% for  message in messages %}
                    <div data-alert class="alert-box">
                        {{ message |safe}}
                        <a href="#" class="close">&times;</a>
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        {% block content %}

        {%endblock%}

    </div>



    <footer>
        <p>©2014 - <a href="http://ralmn.fr">Mathieu | Ralmn</a> </p>
        <div id="cookie">
            <p>En utilisant ce site, vous acceptez l’utilisation de Cookies.
                <a href="http://www.cnil.fr/vos-obligations/sites-web-cookies-et-autres-traceurs/que-dit-la-loi/" target="_blank">Pour en savoir plus et paramétrer les traceurs</a>.
            </p>
        </div>
    </footer>

</div>



{% block js_extra %}
{% endblock %}

</body>
</html>