{% from "_formhelpers.html" import render_field %}
{% extends('skeleton.html') %}
{% block content %}
    <div id="home">
        <h1 class="vote-name">{{vote.name}}</h1>
        {% if vote.close %}
            <h2 class="vote-close">
               Fermeture <span id="time" data-ts="{{ vote.closeTS() }}">à {{ vote.close }}</span>
            </h2>
        {% endif %}
        <div class="option-div">
            {% for voteO in vote.options %}
                <a class="options" href="{{ url_for('.vote', id=vote.id, option=voteO.id)}}">{{voteO.name}}</a>
            {% endfor %}

            <div class="clear"></div>

        </div>

    </div>
    <div class="bottom-right">
        <a class="btn red" href="{{ url_for('.result',id=vote.id) }}">Result</a>
        <div class="clear"></div>
    </div>

    <div class="clear"></div>

{%endblock%}
{% block js_extra %}
     <script>
        $(document).ready(function() {
            function component(x, v) {
                return Math.floor(x / v);
            }
            setInterval(function(){
                $('#time[data-ts]').each(function () {
                    t = $(this).attr('data-ts');
                    dt = new Date(t*1000);
                    now = new Date();
                    diff = component(dt - now,1000);
                    if (diff < 0){
                        location.reload()
                    }
                    var time = '';
                    var days    = component(diff, 24 * 60 * 60),      // calculate days from timestamp
                            hours   = component(diff,      60 * 60) % 24, // hours
                            minutes = component(diff,           60) % 60, // minutes
                            seconds = component(diff,            1) % 60; // seconds
                    if (days > 0){
                        time += days + 'j '
                    }
                    if (hours > 0){
                        time += hours + 'h '
                    }
                    if (minutes > 0){
                        time += minutes + 'm '
                    }
                    time += seconds + 's ';
                    $(this).text('dans ' + time);

                })
            }, 1000)

        });
    </script>
{% endblock %}
